/*
    Filename: PersonalPortfolioWebsite
    Author: Kristian Castaneda
    Website Name: Kristian Castaneda's Mobile Website
    File Description: A personal portfolio mobile website made using JQuery Mobile
*/
/*#region General*/
.gradient {
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 89%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(11%, rgba(0,0,0,1)), color-stop(89%, rgba(0,0,0,1)), color-stop(99%, rgba(76,76,76,1)), color-stop(100%, rgba(76,76,76,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 89%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 89%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 89%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 89%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 100%);
    color: white;
    font-family: sans-serif,Arial;
}

.li-logo {
    border-top: solid 1px white;
}

.navbar {
    background-color: #333333;
}

.li-back {
    border-top: solid 1px white;
    border-left: none;
}

.viewFull {
    text-align: center;
}

#fullSite {
    text-shadow: none;
    color: #4258FB;
}
/*#endregion*/
/*#region Homepage*/
#slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectImage, .serviceImage {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/*#endregion*/
/*#region About Me*/
.biopic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*#endregion*/
/*#region Contact Me*/
#facebook, #twitter, #instagram, #github, #googleplus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.contactInfo {
    margin-left: 20px;
    margin-right: 20px;
}

.socialMedia {
    margin-top: 20px;
}

#phone {
    color: #08178E;
    text-shadow: none;
}
/*#endregion*/
/*#region Projects*/
.projects {
    margin-top: 10px;
}

#otherProjectLink {
    color: #000000;
    text-shadow: none;
}

#projectList {
    margin-left: 20px;
    margin-right: 20px;
}

#projectBlock {
    padding: 10px;
}

.bubbleshooter, .registration, .nutrition {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.div-bubbleshooter, .div-registration, .div-nutrition {
    text-align: center;
}

    .div-bubbleshooter, .div-registration, .div-nutrition a input {
        width: 200px;
    }


.featuredProject, .otherProject {
    text-align: center;
}

/*#endregion*/
/*#region Services*/
.serviceContent {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#databaseImg, #webImg, #mobileImg, #softwareImg, #gameImg {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    height: 120px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.servicesOffered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*#endregion*/